.header{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color:navy;
    color:white;
    }
.footer{
    background-color:silver;
    }
body{
    margin:0px;
}
.container{
    margin:10px;
}
*{
    margin:0px
}
.memu{
    display:flex;
    gap:20px;
}
.memu li{
    list-style: none;
    margin:5px;
}
.memu li a{
    text-decoration: none;
    color:white;
}
img{
    display: flex;
    justify-content: flex-end;
}
.box{
    background-color: gray;
    color:white;
    gap: 10px;
    padding:5px ;
    margin: 10px;
    border: 1px gray solid;
}
