.login-btn{
    background-color: blue;
    color: white;
    border-radius:10px;
    border: none;
}
.account{
    background-color: green;
    color: white;
    border-radius: 10px;
    border:  none;
}
